.centrao{
    min-height: calc(100vh - 112px);
}

.card-tamanho{
    width: 18rem;
}

.card-cor{
    background-color: rgb(35 35 35 / 75%) !important;
}

.mini-card{
    background-color: #0a58ca !important;
}
    
.bg-escuro{
    background-color: #002b57;
}

.btn-pdf{
    background-color: #1a25309e;
    border-color: #453e3e00;
}

.btn-pdf:hover{
    background-color: #1a2530;
}

.btn-enviar{
    background-color: #ff8a0000;
    border-color: #384757;
}

.btn-enviar:hover{
    background-color: #002b56;
    border-color: #1a2530;
    box-shadow: 60, 153, 110;
}
